body {
  font-family: arial;
}
a {
text-decoration: none;
}

h1, h2 {
  text-shadow: white 0px 1px 0px;
  background-color: #6390cb;
}

h1 {
  font-size: xx-large;
}

ul {
  list-style : none;
}

input[type=submit] {
  background-color : #6390cb;
  border-color : #6390cb;
  text-shadow: #ffffff 0px 1px 0px;
}

.calendar {
				font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
				font-size: 0.9em;
				background-color: #EEE;
				color: #333;
				border: 1px solid #DDD;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 0.2em;
				width: 14em;
			}
			
			.calendar a {
				outline: none;
			}
			
			.calendar .months {
				background-color: #F6AF3A;
				border: 1px solid #E78F08;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				color: #FFF;
				padding: 0.2em;
				text-align: center;
			}
			
			.calendar .prev-month,
			.calendar .next-month {
				padding: 0;
			}
			
			.calendar .prev-month {
				float: left;
			}
			
			.calendar .next-month {
				float: right;
			}
			
			.calendar .current-month {
				margin: 0 auto;
			}
			
			.calendar .months a {
				color: #FFF;
				text-decoration: none;
				padding: 0 0.4em;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
			}
			
			.calendar .months a:hover {
				background-color: #FDF5CE;
				color: #C77405;
			}
			
			.calendar table {
				border-collapse: collapse;
				padding: 0;
				font-size: 0.8em;
				width: 100%;
			}
			
			.calendar th {
				text-align: center;
			}
			
			.calendar td {
				text-align: right;
				padding: 1px;
				width: 14.3%;
			}
			
			.calendar td a {
				display: block;
				color: #1C94C4;
				background-color: #F6F6F6;
				border: 1px solid #CCC;
				text-decoration: none;
				padding: 0.2em;
			}
			
			.calendar td a:hover {
				color: #C77405;
				background-color: #FDF5CE;
				border: 1px solid #FBCB09;
			}
			
			.calendar td.today a {
				background-color: #FFF0A5;
				border: 1px solid #FED22F;
				color: #363636;
			}









#banner {
    border: 0px dashed #FFFFFF;
    color: #0000FF;
    font-family: Tahoma,Arial,Verdana,Sans-Serif;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

#pagecontent {
    margin: 0 auto;
    width: 100%;
}
#mainpage {
    background-color: #a0c0cf;
    border: 0px solid #FFFFFF;
    margin: 0 auto;
    width: 987px;
}
#search_textfield {
    border: 0px solid #FFFFFF;
    top: 0;
    width: 100%;
}
#search_textfield #sidebar_and_contentpane {
    width:  60%;
    position: absolute;
    border: 2px dashed #000000;
}
#search_textfield #div_back {
    position: absolute;
    width: 15%;
    border: 2px dashed #000000;
}
#div_contentpane {
    left: 16%;
    position: relative;
    width: 80%;
}
#div_download {
    left: 81%;
    position: relative;
    width: 18%;
    border: 2px dashed #000000;
}
#footer {
    font-size: 0.7em;
    text-align: center;
}
#profile, .nicEdit-main{
    width: 600px;
    height: 200px;
}