{% extends "base.html" %}
{% comment %}
This is the main template for all portal pages.
{% endcomment %}

{% block head %}
    <title>Prof J.K. Oloke | {% block title %}{% endblock %}</title>
    <link href="{{STATIC_URL}}blog.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{STATIC_URL}}datepickr.js"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Prof J.K. Oloke | Web Portal</h1>
    </header>

    <section>
        <ul>
            <li><a href="/admin/">home</a></li>
            <li><a href="/logout/">logout</a></li>
        </ul>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>© 2012, Asmic Computers</span>
    </footer>
{% endblock %}