{% extends "base.html" %}
{% comment %}

Main page to authenticate users.

{% endcomment %}

{% block head %}
    <title>Prof J. K. Oloke's Website | Login</title>
{% endblock %}

{% block body %}
    <header>
        <h1>The ACM DEV-4 Conerence Website</h1>
        <h2>Admin Registration Page</h2>
    </header>

    <section>
        {% if form.errors %}
            <p>Your username and password didn't match, please try again.</p>
        {% endif %}

        <form method="post" action=".">
            {% csrf_token %}
            <p>
                <label for="id_username">Username:</label>
                {{ form.username }}
            </p>
            <p>
                <label for="id_username">Email:</label>
                {{ form.email }}
            </p>
            <p>
                <label for="id_password">Password:</label>
                {{ form.password1 }}
            </p>
             <p>
                <label for="id_password">Password again:</label>
                {{ form.password2 }}
            </p>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="/admin/" />
            {% endif %}
            <input type="submit" value="Register" />
        </form>
    </section>
{% endblock %}
