{% extends "base.html" %}
{% comment %}

Main page of Prof J.K. Oloke's website.

{% endcomment %}

{% block head %}
    <title>Prof J.K. Oloke's website</title>
    <link href="{{STATIC_URL}}blog.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <header>
        <h1>Prof J.K. Oloke's website</h1>
    </header>

    <section>
    
    <!-- Cycle through entries -->
<ul>

{% for profile in Profile %}
{% autoescape off %}
   <li>
        {% if profile.details %}
            {{ profile.details }}
        {% endif %}
    </li>
{% endautoescape %}
{% endfor %}

</ul>


<ul>
    {% for section in Sections %}
    <li>
        <h1> {{ section.heading }} </h1>
    </li>

{% autoescape off %}
   <li>
        {% if section.content %}
            {{ section.content }}
        {% endif %}
    </li>
{% endautoescape %}
    {% endfor %}
</ul>


<ul>
    <li>
        <h1> Selected Publications  [View All Publications] </h1>
    </li>
    {% for post in Posts %}
    <li>
{{post.authors}},
        {% if post.selectedpublication %}
        &nbsp;&quot;{{post.title}},&quot;&nbsp;
        {% endif %}
{% if post.papertype == "Journal" %}
            published in the Journal: {{post.publisher}}
 {% else %}
        {% if post.papertype == "Conference" %}
            published in the proceedings of: {{post.publisher}}
        {% else %}
            {% if post.papertype == "Book" %}
                , published the book: {{post.publisher}}
            {% else %}
                {% if post.papertype == "Book Chapter" %}
                        published as a book chapter in the book: {{post.publisher}}
                {% else %}
                    {% if post.papertype == "Report" %}
                        published as a report in the report: {{post.publisher}},
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
 {% endif %} {{post.additional_info}},&nbsp;{{post.date_published|date:"M d, Y"}}, pp.&nbsp;{{post.page_num}}. <br/><br/>


       

</li>
    {% endfor %}
<li>
<h1><a href='{{SITE}}/admin/'>Login [Administrators only]</a>
</li>
</ul>



<!-- Cycle through entries -->
        





    </section>
{% endblock %}
